@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@500&display=swap");

:root {
  /* --primary-color: #7c3aed; */
  --primary-color: #022e51;
  --dark-gray: #6N7280;
  --off-white: #f3f4f6;
}

.imp {
  width: 100%;
}
/* @media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  } */

body {
  font-family: "Nunito", "Montserrat", sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
  /* background-color: #dad9de; */

  /* width: 80%; */
}

hr {
  margin: 2rem 0rem;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}
.link-active {
  font-size: larger;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
  /* max-width: 140px; */
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
}

.link-secondary {
  color: var(--primary-color);
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  max-width: 140px;
  margin: 1rem;
}

.non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .link {
  color: white;
}

.nav-brand {
  font-size: large;
}
.nav-pills {
  /* display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  /* justify-content: end; */
  text-align: end;
}

.navigation .nav-brand {
  font-weight: bold;
}

.hero {
  padding: 2rem;
  padding-top: 1rem;
  font-size: larger;

  /* text-align: center; */
}

.hero .hero-img {
  /* padding: 2rem; */
  width: 100%;
  max-width: 450px;
  display: block;
  margin: auto;
  height: auto;
}

.hero .hero-heading {
  /* font-size: 2rem; */
  font-weight: bold;
  padding-top: 1rem;
  text-align: center;
  color: var(--dark-gray);
}

.section {
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem 0;
  text-align: center;
}
.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/* footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  margin-bottom: 0;
}

.footer .link {
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.showcase-list {
  /* padding: 2rem; */
  /* padding: 2rem; */
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
